!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    header
      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container
            a.btn.btn-navbar(data-toggle='collapse', data-target='.navbar-inverse-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href='/') SQR
            .nav-collapse.collapse.navbar-inverse-collapse
              ul.nav
                li.active
                  a(href='/') Home
                li
                  a(href='/products') Products
                li
                  a(href='/products/new') New
    block content
