extend ../layout

block content
  .span11.offset1
    if products.length > 0
      table.table-striped.table-bordered.table.table-hover
        thead
          tr
            th id
            th Category
            th Company id
            th Price
            th Actions
        tbody
          each product in products
            tr
              td Coming soon
              td= product.category
              td= product.companyId
              td= product.price
              td
                a.btn.btn-info(href="/product/#{product._id}/edit") Edit
                form.form-horizontal(method='post', action="/product/#{product._id}/delete")
                  input(type="hidden", name="_method", value="DELETE")
                  button.btn.btn-danger(type="submit") delete
    else
      .well There are no products

