extend ../layout

block content
  .span11.offset1
    form.form-horizontal(method='post', action='/product')
      .control-group
        label.control-label Category
        .controls
          input#input-category(placeholder= 'Category', name='category', type='text')
      .control-group
        label.control-label Price
        .controls
          input#input-price(placeholder= 'Price', name='price', type='text')
      .control-group
        label.control-label CompanyId
        .controls
          input#disabledInput(type='text', placeholder='33', disabled='disabled', value='33')
      button.btn.btn-primary(type='submit') Create
      a.btn.btn-default(href='/products') Cancel
