extend ../layout

block content
  .span11.offset1
    .well
      .control-group
        label.control-label Category
        .controls
      .control-group
        label.control-label Price
        .controls
          input#input-price(placeholder= 'Price', name='price', type='text', value=product.price)
      .control-group
        label.control-label CompanyId
        .controls
          input#disabledInput(type='text', placeholder='33', disabled='disabled', value='33')
      a.btn.btn-default(href='/products') Cancel